h1{
    text-align: center;
    color: #292929;
    font-family:'Playfair Display', serif;
    font-size: 32px;
    font-weight: inherit;
    letter-spacing: 0.2rem;
}
ul{
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    text-align: center;
    width: 95%;
    color: #292929;
    
   
}
.subTitle{
    font-size: 14px;
   font-kerning: normal;
   letter-spacing: 0.7rem;
    font-weight: inherit;
    color: #292929;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    
}

li{
    width: 150px;
    
    
   
}
a{
    
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-family: 'Raleway', sans-serif;
}
p{
    margin: 5px 30px;
    font-family: 'Roboto', sans-serif;
}
h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header{
    /* border-bottom: rgb(226, 43, 226) 2px solid;*/
     background-color: #f8f8f8;
}
div{
    text-align: center;
}
.sectionImg{
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 15px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.sectionImg:hover{
    transform: scale(1.1);
    box-shadow: 1px 15px 37px black;
    opacity: 0.8;
}
.sectionImgMy{
    width: 100%;
    margin: 10px;
}
.imgHome{
    text-align: center;
    width: 100%;
    
    
}
.imgMy{
    max-width: 700px;
    max-height: 500px;
    width: 100%;
}

.contain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.pDeImag{
    
    display: none;
    top: 50%;
    left: 37%;
    position: absolute;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);

}