

body{
    margin: 20px;
}
h1{
    text-align: center;
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    font-weight: inherit;
    letter-spacing: 0.2rem;
}
ul{
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;  
    color: #292929;
    
}

.subTitle{
    font-size: 14px;
   font-kerning: normal;
   letter-spacing: 0.7rem;
    font-weight: inherit;
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    
}

li{
    margin:0px 10px;
    width: 125px;
    
    
   
}
a{
    
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
p{
    margin: 5px 30px;
    font-family: 'Montserrat', sans-serif;
}
h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

header{
    /* border-bottom: rgb(226, 43, 226) 2px solid;*/
     background-color: #f8f8f8;
}
div{
    text-align: center;
}
.sectionImg{
    width: 100%;
    margin: 25px 0px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.sectionImg:hover{
    transform: scale(1.1);
   /* box-shadow: 1px 15px 37px black;*/
    opacity: 0.8;
   
    width: 100%;
}
.sectionImgMy{
    width: 100%;
    
    
}
.imgHome{
    text-align: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image:url("imagen- de-usuario.jpg");
}
.imgMy{
    max-width: 750px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}



.contactContain{
    margin:20px 2px;
}
.contactH2{
    margin-top: 50px;
}

@media (min-width: 1200px){

.pDeImag{
    text-align: center;
    display: none;
    top: 50%;
    left: 45%;
    position: absolute;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    font-size: 30px;
    transform: translateX(-50%) translateY(-50%);

}

.contain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
ul{
    text-align: center;
    flex-wrap: wrap;
    width: 95%;
}
.sectionImg{
    margin: 12px 12px;
}
li{
    width: 130px;
}
.sectionImg:hover{
    transform: scale(1.08);
   /* box-shadow: 1px 15px 37px black;*/
    opacity: 0.7;
   
    width: 100%;
}
.contactMain{
    margin-bottom: 300px;
}
h1{
    font-size: 32px;
}
}